.line
{
    text-align: center;
}
.f1
{
    border-radius: 5px;
    box-shadow: 0 0 15px rgb(107, 101, 101) ;
    height:113%;
    width: 38%;
    margin-top: 30px;
    margin-left: 100px;
    background-color: cornflowerblue;
    color: whitesmoke;
    font-size: larger;

    
}
.input
{
    height: 20px;
    width:90%;
    padding: 20px;
    
    box-sizing: border-box;
}

.message
{
        width: 89%;
        height: 90px;
}
.submit
{
    height: 30px;
    width: 90%;
    margin-bottom: 20px;
    background-color: navy;
    color: whitesmoke;
    border-radius: 5px;
    
}
.div
{
    display: flex;
    
}
.row
{
    flex: 1;
}
.input1
{
   box-sizing: border-box;
    width: 80%;
    height:30px;

    
}
.b1
{
 margin: 20px;
 padding-top: 90px;
 padding-left: 40px;
}
b
{
    margin-top: 30px;
    font-size: larger;
    color: rgb(69, 90, 108);
}

.box
{
    border: 2px solid rgb(101, 94, 94)(141, 123, 123) ;
    box-shadow: 0 0 15px rgb(107, 101, 101) ;
    margin: 30px;
    height: 90%;
    width: 70%;
    padding: 10px;
    font-size: larger;
    
}

.abc
{   
    display: flex;
    height: 540px;
    width: 120%;
    margin-bottom: 200px;
  
}
.xyz
{
  height: 55%;

   
}
.image
{
   height: 50%;
    width: 40%; 
}
body
{
    height: 100%;
    overflow-x: hidden;
}
